<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../../partials/admin/head');
        %>
</head>

<body>
    <%- include('../../partials/admin/header',
        {
        current: 'disaster'
        });
        %>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h3 class="card-title d-inline">災害情報</h3>
                    </div>
                    <% disaster.forEach(function(element, index)
                        {
                        %>
                        <ul class="list-group mt-2">
                            <li class="list-group-item">
                                <h5 class="card-title d-inline">
                                    <%= element.title
                                        %>
                                </h5>
                                <h6 class="d-inline font-weight-light">
                                    <%= moment(element.datetime).format('YYYY/M/d H:mm:ss zz') %>
                                </h6>
                                <p>
                                    <%= element.content
                                        %>
                                </p>
                                <% for(var i=0; i<element.tag.length; i++) { %>
                                    <span class="badge bg-primary"
                                        style="font-size: 15px;">
                                        <%= element.tag[i] %>
                                    </span>
                                 <% } %>
                            </li>
                        </ul>
                        <% });
                            %>
                </div>
            </div>
        </div>
</body>

</html>