<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../../partials/admin/head',
        {
            title: 'お問い合わせ'
        });
    %>
</head>

<body>
    <%- include('../../partials/admin/header',
        {
        current: 'inquiry'
        });
        %>
        <div class="container mt-5">
            <h2 class="card-title d-inline"><i class="fa-solid fa-comments"></i> お問い合わせ</h2>
            <% inquiry.forEach(function(element, index) { %>
                <ul class="list-group mt-2">
                    <li class="list-group-item">
                        <h5 class="card-title d-inline">
                            <a href="/admin/inquiry/details/<%= element.inquiry_id %>"><%= element.title %></a>
                        </h5>
                        <h6 class="d-inline font-weight-light">
                            <%= moment(element.datetime).format('YYYY/M/d H:mm:ss zz')
                                %>, 
                            <%= user_name[index].name %>
                                </h5>
                                <p>
                                    <% if (element.content.length > 100) { %>
                                        <%= element.content.substring(1, 100) %> ...
                                    <% } else { %>
                                        <%= element.content %>
                                    <% } %>
                                </p>
                    </li>
                </ul>
            <% }); %>
        </div>
</body>

</html>