<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../../partials/admin/head');
        %>
</head>

<body>
    <%- include('../../partials/admin/header',
        {
        current: 'news'
        });
        %>
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">現在表示中</h3>
                    <% news.forEach(function(element)
                        {
                        %>
                        <ul class="list-group mt-2">
                            <li class="list-group-item">
                                <h5 class="card-title">
                                    <%= element.title
                                        %>
                                </h5>
                                <p>
                                    <%= element.content
                                        %>
                                </p>
                                <% for(var
                                    i=0;
                                    i<element.tag.length;
                                    i++)
                                    {
                                    %>
                                    <span class="badge bg-primary"
                                        style="font-size: 15px;">
                                        <%= element.tag[i]
                                            %>
                                    </span>

                                    <% }
                                        %>
                            </li>
                        </ul>
                        <% });
                            %>
                </div>
            </div>
        </div>
</body>

</html>